In [2]:
%reload_ext autoreload
%autoreload 2

import myforexclass as mf

In [39]:
test = mf.forex_backtest_class(["ETH-USD"],"2023-01-01" , "2024-07-01", "1d" , 0.0001 , 100000)

[*********************100%%**********************]  1 of 1 completed

Data of ETH-USD downloded.

In [ ]:
test.data

In [ ]:
test.plot_data()

In [40]:
test.sma("ETH-USD" , 37,50)

0.81102

In [41]:
test.temp_data

,Close,returns,sma_s,sma_l,pos,trades,str_sma,str_net,cum_str_net
Date,,,,,,,,,
2023-02-21,1658.036377,-0.026567,1611.043358,1543.403093,1,0.0,-0.026567,-0.026567,0.973783
2023-02-22,1643.231689,-0.008969,1612.837904,1551.972151,1,0.0,-0.008969,-0.008969,0.965088
2023-02-23,1651.073853,0.004761,1615.087303,1559.863096,1,0.0,0.004761,0.004761,0.969694
2023-02-24,1608.373169,-0.026203,1617.597201,1567.021787,1,0.0,-0.026203,-0.026203,0.944615
2023-02-25,1594.914917,-0.008403,1618.742023,1573.532505,1,0.0,-0.008403,-0.008403,0.936711
...,...,...,...,...,...,...,...,...,...
2024-06-26,3369.477295,-0.007555,3648.440608,3490.350937,1,0.0,-0.007555,-0.007555,0.796043
2024-06-27,3444.800537,0.022108,3639.129467,3499.773804,1,0.0,0.022108,0.022108,0.813838
2024-06-28,3373.635986,-0.020875,3629.302932,3506.526113,1,0.0,-0.020875,-0.020875,0.797026
2024-06-29,3372.967773,-0.000198,3618.385109,3515.789644,1,0.0,-0.000198,-0.000198,0.796868
2024-06-30,3432.889160,0.017609,3610.437935,3526.215386,1,0.0,0.017609,0.017609,0.811024

In [45]:
t=test.sma_backtest("ETH-USD",37,50)

Testing SMA Strategy | ETH-USD | SMA_S= 37 | SMA_L= 50
---------------------------------------------------------------------------
Initial amount is : 100000
2023-02-20 Buying 58 for 1702.67517 with 0.0001 spread. Net price is 1702.67522 and current balance is 1244.84
2023-03-10 Selling 58 for 1429.15808 with 0.0001 spread. Net price is 1429.15803 and current balance is 84136.01
** Closed last long position !
2023-03-10 Selling 58 for 1429.15808 with 0.0001 spread. Net price is 1429.15803 and current balance is 167027.18
2023-03-19 Buying 58 for 1785.57654 with 0.0001 spread. Net price is 1785.57659 and current balance is 63463.74
** Closed last short position !
2023-03-19 Buying 35 for 1785.57654 with 0.0001 spread. Net price is 1785.57659 and current balance is 968.56
2023-05-21 Selling 35 for 1804.53137 with 0.0001 spread. Net price is 1804.53132 and current balance is 64127.16
** Closed last long position !
2023-05-21 Selling 35 for 1804.53137 with 0.0001 spread. Net price is 1804.53132 and current balance is 127285.76
2023-06-26 Buying 35 for 1859.43286 with 0.0001 spread. Net price is 1859.43291 and current balance is 62205.61
** Closed last short position !
2023-06-26 Buying 33 for 1859.43286 with 0.0001 spread. Net price is 1859.43291 and current balance is 844.32
2023-07-06 Selling 33 for 1848.63647 with 0.0001 spread. Net price is 1848.63642 and current balance is 61849.32
** Closed last long position !
2023-07-06 Selling 33 for 1848.63647 with 0.0001 spread. Net price is 1848.63642 and current balance is 122854.32
2023-07-18 Buying 33 for 1897.59924 with 0.0001 spread. Net price is 1897.59929 and current balance is 60233.54
** Closed last short position !
2023-07-18 Buying 31 for 1897.59924 with 0.0001 spread. Net price is 1897.59929 and current balance is 1407.96
2023-08-08 Selling 31 for 1855.80737 with 0.0001 spread. Net price is 1855.80732 and current balance is 58937.99
** Closed last long position !
2023-08-08 Selling 31 for 1855.80737 with 0.0001 spread. Net price is 1855.80732 and current balance is 116468.02
2023-10-25 Buying 31 for 1787.39758 with 0.0001 spread. Net price is 1787.39763 and current balance is 61058.69
** Closed last short position !
2023-10-25 Buying 34 for 1787.39758 with 0.0001 spread. Net price is 1787.39763 and current balance is 287.17
2024-04-15 Selling 34 for 3101.60034 with 0.0001 spread. Net price is 3101.60029 and current balance is 105741.58
** Closed last long position !
2024-04-15 Selling 34 for 3101.60034 with 0.0001 spread. Net price is 3101.60029 and current balance is 211195.99
2024-05-28 Buying 34 for 3840.25635 with 0.0001 spread. Net price is 3840.2564 and current balance is 80627.27
** Closed last short position !
2024-05-28 Buying 20 for 3840.25635 with 0.0001 spread. Net price is 3840.2564 and current balance is 3822.14
---------------------------------------------------------------------------
*** Summary of trading : ETH-USD ***
2024-06-30 | Closing position of 20 for 3432.88916
2024-06-30 | Performance (%) = -27.52
2024-06-30 | Number of Trades = 22
2024-06-30 | Performance of Buy and Hold Stategy (%)= 185.84
2024-06-30 | The annual compound growth rate for 17 months = -0.0188
2024-06-30 | Current Balance : 72479.92

In [43]:
test.count_months()

(                  Close   returns        sma_s        sma_l  pos  trades  \
 Date
 2023-02-21  1658.036377 -0.026567  1611.043358  1543.403093    1     0.0
 2023-02-22  1643.231689 -0.008969  1612.837904  1551.972151    1     0.0
 2023-02-23  1651.073853  0.004761  1615.087303  1559.863096    1     0.0
 2023-02-24  1608.373169 -0.026203  1617.597201  1567.021787    1     0.0
 2023-02-25  1594.914917 -0.008403  1618.742023  1573.532505    1     0.0
 ...                 ...       ...          ...          ...  ...     ...
 2024-06-26  3369.477295 -0.007555  3648.440608  3490.350937    1     0.0
 2024-06-27  3444.800537  0.022108  3639.129467  3499.773804    1     0.0
 2024-06-28  3373.635986 -0.020875  3629.302932  3506.526113    1     0.0
 2024-06-29  3372.967773 -0.000198  3618.385109  3515.789644    1     0.0
 2024-06-30  3432.889160  0.017609  3610.437935  3526.215386    1     0.0

              str_sma   str_net  cum_str_net  year  month
 Date
 2023-02-21 -0.026567 -0.026567     0.973783  2023      2
 2023-02-22 -0.008969 -0.008969     0.965088  2023      2
 2023-02-23  0.004761  0.004761     0.969694  2023      2
 2023-02-24 -0.026203 -0.026203     0.944615  2023      2
 2023-02-25 -0.008403 -0.008403     0.936711  2023      2
 ...              ...       ...          ...   ...    ...
 2024-06-26 -0.007555 -0.007555     0.796043  2024      6
 2024-06-27  0.022108  0.022108     0.813838  2024      6
 2024-06-28 -0.020875 -0.020875     0.797026  2024      6
 2024-06-29 -0.000198 -0.000198     0.796868  2024      6
 2024-06-30  0.017609  0.017609     0.811024  2024      6

 [496 rows x 11 columns],
 17)

In [ ]:
test.best_ema("ETH-USD")

In [ ]:
t=test.ema_backtest("ETH-USD",9,87)

In [ ]:
test.best_dema("ETH-USD")

In [ ]:
t=test.dema_backtest("ETH-USD",31,54)

In [ ]:
test.best_rsi("ETH-USD")

In [ ]:
t=test.rsi_backtest("ETH-USD",17,25,71)

In [ ]:
test.best_macd("ETH-USD")

In [ ]:
t=test.macd_backtest("ETH-USD",19,39,14)

In [ ]:
test.best_bollinger("ETH-USD")

In [ ]:
t=test.bollinger_backtest("ETH-USD",44,3)

In [ ]:
test.best_stochastic("ETH-USD")

In [ ]:
t=test.stochastic_backtest("ETH-USD",14,2)

In [ ]:
test.atr("ETH-USD",14)

In [ ]:
test.adx("ETH-USD",14)

In [ ]:
test.obv("ETH-USD")

In [ ]:
t=test.ichimoku("ETH-USD")
print(t[0].tail(50))
print(t[1])

In [ ]:
test.ichimoku_backtest("ETH-USD")

In [7]:
test = mf.forex_backtest_class(["EURUSD=X"],"2024-01-01" , "2024-07-01", "1d" , 0.0001 , 100000)
test.data

[*********************100%%**********************]  1 of 1 completed

Data of EURUSD=X downloded.
Testing Ichimuko Strategy | EURUSD=X | s= 14 | m= 26 | l=52
---------------------------------------------------------------------------
Initial amount is : 100000
2024-01-15 Selling 91364 for 1.09457 with 0.0001 spread. Net price is 1.09452 and current balance is 199999.73
2024-03-14 Buying 91364 for 1.09553 with 0.0001 spread. Net price is 1.09558 and current balance is 99903.16
** Closed last short position !
2024-03-14 Buying 91187 for 1.09553 with 0.0001 spread. Net price is 1.09558 and current balance is 0.51
2024-04-03 Selling 91187 for 1.07686 with 0.0001 spread. Net price is 1.07681 and current balance is 98191.58
** Closed last long position !
2024-04-03 Selling 91187 for 1.07686 with 0.0001 spread. Net price is 1.07681 and current balance is 196382.65
2024-05-21 Buying 91187 for 1.08608 with 0.0001 spread. Net price is 1.08613 and current balance is 97341.71
** Closed last short position !
2024-05-21 Buying 89622 for 1.08608 with 0.0001 spread. Net price is 1.08613 and current balance is 0.57
2024-06-26 Selling 89622 for 1.07096 with 0.0001 spread. Net price is 1.07091 and current balance is 95977.67
** Closed last long position !
2024-06-26 Selling 89622 for 1.07096 with 0.0001 spread. Net price is 1.07091 and current balance is 191954.77
---------------------------------------------------------------------------
*** Summary of trading : EURUSD=X ***
2024-06-28 | Closing position of -89622 for 1.07085
2024-06-28 | Performance (%) = -4.02
2024-06-28 | Number of Trades = 10
2024-06-28 | Performance of Buy and Hold Stategy (%)= -3.14
2024-06-28 | Current Balance : 95978.57

(-4.02, 10, -3.14, 95978.57)

In [21]:
test.ichimoku_backtest("EURUSD=X")

Testing Ichimuko Strategy | EURUSD=X | s= 14 | m= 26 | l=52
---------------------------------------------------------------------------
Initial amount is : 100000

KeyError: "None of [Index(['EURUSD=X_low', 'EURUSD=X_high', 'EURUSD=X_close', 'EURUSD=X_returns',\n       'EURUSD=X_cum_return'],\n      dtype='object')] are in the [columns]"